.card {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    text-align: left;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.card p {
    color: #FFFFFF;
}

.card p span {
    margin-right: 1rem;
}

.card p.desc {
    color: rgba(120, 120, 120, 1);
}